* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #1e1e2f;
  font-family: Arial, sans-serif;
  background-color: black;
}

#canvas-div {
  display: none;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  width: 1500px;
  height: 700px;

  canvas {
    width: 100%;
    height: 100%;
  }
}

.menu-container {
  background-color: #2c2c3e;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.game-title {
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 30px;
}

.slider-container {
  margin-bottom: 20px;
}

label {
  color: #c9c9d3;
  font-size: 18px;
  display: block;
  margin-bottom: 8px;
}

input[type="range"] {
  width: 100%;
  height: 5px;
  -webkit-appearance: none;
  appearance: none;
  background: #4d4d66;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #7b78ff;
}

.play-button {
  background-color: #040339;
  color: #fff;
  font-size: 20px;
  padding: 12px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.play-button:hover {
  background-color: #aa56d1;
}
